.singleSamorezWrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3vh;
}

.samorezImageWrapper {
  width: 30vw;
  height: 15vh;
  overflow: hidden;
}

.samorezImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.samorezVideoWrapper {
  max-width: 400px;
}

.itemName {
  color: black;
}

.priceSpan {
  color: #ff3792;
  font-weight: 700;
}

.price-amountDiv {
  font-weight: 600;
}